.globalContainer{
    background-color: #FA5E1A;
}

.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHeader{
    width: 100%;
    background: #e9e7e7;
    height: 100px;

    display: flex;
    justify-content: center;
}

.fa-arrow-left:before {
    content: "\f060";
    color: #FA5E1A;
}


.contentHeader{
    height: 10rem;
}

.BtnIconReturn{
    position: absolute;
}

.IconReturn{
    color: #FFFFFF;
}

.titleHeader{
    color: #FA5E1A;
    padding: 2rem 0;
}

.contentHeader{
    margin: 1rem 0 0;
    width: 96%;
    max-width: 55rem;
    
}



.containerInputSearch{
    display: flex;
    gap: 1rem;
}

.InputSearch{
    outline: none;

    width: 100%;
    height: 2.5rem;

    padding: 0.3rem;

    border-radius: 0.3rem;
    border: 0.1rem solid #bbbbbb;
}

@media (min-width:720px) {
    .InputSearch{
        width: calc(100% * (1/2));
    }
}

@media (min-width:1024px) {
    .InputSearch{
        width: calc(100% * (1/3));
    }
}

.containerContent{
    margin: 2rem 0;
    width: 96%;
    max-width: 55rem;
}

.containerForm{
    margin-top: 2rem;
    background-color: #FFFFFF;
    padding: 1rem 0.7rem;
    border-radius: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    
}

.containerInput{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerInput Input{
    outline: none;

    width: 100%;
    height: 2.5rem;

    padding: 0.3rem;

    border-radius: 0.3rem;
    border: 0.1rem solid #bbbbbb;
}

.containerInput label{
    font-size: 1.1rem;
}

.containerInput select{
    outline: none;

    width: 100%;
    height: 2.5rem;

    padding: 0.3rem;

    border-radius: 0.3rem;
    border: 0.1rem solid #bbbbbb;
}

.contentButton{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.contentButton button{
    width: 10rem;
    padding: 0.5rem 0.9rem;

    background: #1a73e8;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;

    border-radius: 0.5rem;
}

@media(min-width: 700px) {
    .inputFile{
        width: calc(100vh * (1/2));
    }
}

