
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FA5E1A;
    height: 7vh;
}
main{
    background-size: cover;
    height: 86vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 2px;
    margin-left: 30px;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background:#FA5E1A;
    margin: 8px;
    transition: 0.3s;
    display: none;

}
/*vai mostrar a mão do mouse quando passar por cima*/
.mobile-menu{
    cursor: pointer;   
}

.contentFooter{
    background-color: #FA5E1A;
    height: 7vh;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
    width: 100%;
    min-height: 86vh;
    padding: 1.2rem;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.contentHistory{
    position: relative;
    width: calc(55% - 0.5rem);
    height: fit-content;
    padding: 0.7rem 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    border-radius: 0.3rem;
}

.contentDisciplina{
    position: relative;
    width: calc(45% - 0.5rem);
    height: fit-content;
    padding: 0.7rem 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    border-radius: 0.3rem;
}

.contentHistory .line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: #f59835;
    border-radius: 0.3rem 0.3rem 0 0;
    display: flex;
    flex-direction: column;
}

.contentDisciplina .line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: #f59835;
    border-radius: 0.3rem 0.3rem 0 0;
    display: flex;
    flex-direction: column;
}

.contentBoxHistory{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contentBoxDisciplina{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contentTitle .title{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boxHistory{
    margin-bottom: 0.5rem;
    width: calc(50% - 0.25rem);
    border-radius: 0.2rem;
    background: #F2F2F2;
}

.boxDisciplina{
    width: 100%;
    border-radius: 0.2rem;
}

.headerHistory{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.icon{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;

    background-color: #f59835;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img{
    width: 2.2rem;
}

.contentProgress{
    width: calc(100% - 2rem);
    height: 0.4rem;
    margin: 0 1rem 1rem;
    background-color: #2AC255;
    border-radius: 0.2rem;
}

.contentBtn{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
}

.btnUpdate{
    height: 2rem;
    padding: 0 1rem;
    margin-right: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1a73e8;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 0.4rem;
}

@media(max-width: 999px){
    body{
        overflow-x:hidden ;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background: #1a73e8;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; /*para puxar barra de nav, de forma suave*/
    }
    .nav-list li{
        margin-left: 0;
    }
    .mobile-menu div{
        display: flex;
        }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    form{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
        
}
.mobile-menu.active .line2{
    opacity: 0;
        
}
.mobile-menu.active .line3{
    transform: rotate(-45deg) translate(-5px, 7px);
        
}

.fa-sign-out:before{
    font-size: 1.5rem;
}
