.containerHome{
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e7e7;
}

.fa-arrow-left:before {
    content: "\f060";
    color: #FFFFFF;
}

.containerHeader{
    width: 100%;
    background: #FA5E1A;
    height: 100px;

    display: flex;
    justify-content: center;
}

.BtnIconReturn{
    position: absolute;
}

.IconReturn{
    color: #FFFFFF;
}

.titleHeader{
    color: #FFFFFF;
    padding: 3.2rem 0;
}

.contentHeader{
    margin: 1rem 0 0;
    width: 96%;
    max-width: 55rem;
}

.containerInputSearch{
    display: flex;
    gap: 1rem;
}

.InputSearch{
    outline: none;

    width: 100%;
    height: 2.5rem;

    padding: 0.3rem;

    border-radius: 0.3rem;
    border: 0.1rem solid #bbbbbb;
}

@media (min-width:720px) {
    .InputSearch{
        width: calc(100% * (1/2));
    }
}

@media (min-width:1024px) {
    .InputSearch{
        width: calc(100% * (1/3));
    }
}

.containerContent{
    margin: 2rem 0;
    width: 96%;
    max-width: 55rem;
}

.containerCardClassroom{
    background-color: #FFFFFF;

    margin: 1rem 0;

    border-radius: 0.3rem;
}

.headerCardClassroom{
    display: flex;
    flex-direction: row;

    padding: 0.8rem 1rem 0.5rem;
}

.cardClassroomImg{
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: #f59835;
}

.cardClassroomImg img{
    width: 70%;
    height: 70%;
}

.cardClassroomTitle{
    width: calc(100% - 7rem);
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ClassroomSubtitle{
    color: #7a7a7a;
}

.contentCardClassroom{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.descriptionCardClassroom{
    margin-top: 1rem;
}

.footerCardClassroom{
    margin-top: 1rem;
    background-color: #cbcbcb;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.3rem 0.3rem;
    display: flex;
    flex-wrap: wrap;
}

.footerCardMoney{
    width: 100%;
    margin: 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerCardMoneyLabel{
    color: #7a7a7a;
    padding-right: 1rem;
    font-size: 1.1rem;
}

.footerCardMoneyText{
    color: #1a73e8;
    font-size: 1.1rem;
}

.footerCardMoneyBtn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media(min-width:560px){
    .footerCardMoney{
        width: 50%;
        align-items: center;
        justify-content: start;
    }

    .footerCardMoneyBtn{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .btnFooterCardSubject{
        max-width: 15rem;
    }

    .btnFooterCardLike{
        max-width: 3rem;
    }
}

.btnDelete{
    width: 50%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #e81a1a;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}

.btnUpdate{
    width: 50%;
    height: 3rem;
    margin-right: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1a73e8;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}

.btnFooterCardSubject{
    width: 80%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1a73e8;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}

.iconFooterCardSubject{
    margin-right: 1rem;
}

.btnFooterCardLike{
    width: 20%;
    height: 3rem;
    margin-right: 0.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1ae84e;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}

.iconFooterCardLike{
}
