<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org/%22%3E"
    lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Disciplinas</title>
    <link rel="stylesheet" href="/styleGlobal.css">
    <link rel="stylesheet" href="/professorCss/cadDisciplinas.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="globalContainer">
        <div class="containerHome">
            <div class="containerHeader">
                <div class="contentHeader">
                    <a class="BtnIconReturn" href="/login"><i class="fa fa-arrow-left IconReturn"></i></a>
                    <h1 class="titleHeader">Cadastrar Disciplinas</h1>
                    <form action="" class="containerForm">
                        <div class="containerInput">
                            <label for="">Materia</label>
                            <input>
                        </div>
                        <div class="containerInput">
                            <label for="">Texto de Apresentação</label>
                            <input>
                        </div>
                        <div class="containerInput">
                            <label for="">Tipo</label>
                            <input>
                        </div>
                        <div class="containerInput">
                            <label for="">Valor</label>
                            <input>
                        </div>
                        <div class="containerInput inputFile">
                            <label for="">Imagem de logo da Materia</label>
                            <input type="file" placeholder="Logo materia">
                        </div>
                        <div class="containerInput inputFile">
                            <label for="">Conteudo Programatico</label>
                            <input type="file">
                        </div>
                    </form>
                </div>
            </div>
            <div class="containerContent">
                
            </div>
            <div class="containerFooter"></div>
        </div>
    </div>
</body>

    <script>

    </script>
</html>