<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org/%22%3E"
    lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Trilhas</title>
    <link rel="stylesheet" href="/styleGlobal.css">
    <link rel="stylesheet" href="/administradorCss/cadTrilhas.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

    <div class="globalContainer">
        <div class="containerHome">
            <div class="containerHeader">
                <div class="contentHeader">
                    <a class="BtnIconReturn" href="/home"><i class="fa fa-arrow-left IconReturn"></i></a>
                    <h1 class="titleHeader">Cadastrar Trilhas</h1>
                    <form method="POST" th:action="@{/trilha/createTrilha}"
                        th:object="${trilha}" class="containerForm">
                        <div class="containerInput">
                            <label for="">Nome da Trilha</label>
                            <input id="nome" type="text" th:field="*{nome}" name="nome">
                        </div>
                        <div class="containerInput">
                            <label for="">Texto de Apresentação</label>
                            <input id="textoApresentacao" type="text" th:field="*{textoApresentacao}" 
                            name="textoApresentacao">
                        </div>
                        <div class="containerInput">
                            <label for="">Nivel</label>
                            <input id="nivel" type="text" th:field="*{Nivel}" 
                            name="nivel">
                        </div>
                        <div class="containerInput">
                            <label for="">Conteudo Programatico</label>
                            <input id="conteudoProgramatico" type="text" th:field="*{conteudoProgramatico}" 
                            name="conteudoProgramatico">
                        </div>
                        <div class="containerInput">
                            <label for="">Categoria</label>
                            <select id="categoria" type="text" th:field="*{categoria}" name="categoria">
                                <option value="back-end">Back-end</option>
                                <option value="banco de dados">Banco de Dados</option>
                                <option value="front-end">Front-end</option>
                                <option value="gerenciamento">Gerenciamento</option>
                            </select>
                        </div>
                        <div>
                            <button>Salvar</button>
                        </div>
                        <!-- <div class="containerInput inputFile">
                            <label for="">Imagem de logo da Materia</label>
                            <input type="file" placeholder="Logo materia">
                        </div>
                        <div class="containerInput inputFile">
                            <label for="">Conteudo Programatico</label>
                            <input type="file">
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="containerContent">
                
            </div>
            <div class="containerFooter"></div>
        </div>
    </div>
</body>

    <script>

    </script>
</html>