<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org/%22%3E"
    lang="pt-br">

    <link rel="stylesheet" href="/homeCss/home_user.Css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">CarrPlan</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>     
            </div>
            <ul class="nav-list">
                <li><a href="/home_user">Inicio</a></li>
                <li><a href="/trilha_aluno">Meu CarrPlan</a></li>
                <li><a href="/trilha_aluno">Trilhas</a></li>          
                <li><a>[[${session.usuarioLogado.nome}]]</a></li>
                <li><a href="/sair"><i class="fa fa-sign-out IconLogout"></i></a></li>
            </ul>
           
        </nav>
    </header>

    <div class="content">
        <!-- <div class="contentHistory">
            <div class="line"></div>
            <div class="contentTitle">
                <h2 class="title">HISTORICO DE ESTUDO</h2>
            </div>
        </div>
        <div class="contentHistory">
            <div class="line"></div>
            <div class="contentTitle">
                <h2 class="title">HISTORICO DE ESTUDO</h2>
            </div>
        </div> -->
        <div class="contentDisciplina">
            <div class="line"></div>
            <div class="contentBoxDisciplina">
                <div class="boxDisciplina">
                    <div class="headerHistory">
                        <div class="icon">
                            <img src="/img/LogoDisciplina.svg" alt="">
                        </div>
                        <h3 class="titleHistory">JAVA SPRING BOOT</h3>
                    </div>
                    <div class="contentProgress"></div>
                    <div class="contentBtn">
                        <a class="btnUpdate" >CONTINUE Seu ESTUDO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentHistory">
            <div class="line"></div>
            <div class="contentTitle">
                <h2 class="title">HISTORICO DE ESTUDO</h2>
            </div>
            <div class="contentBoxHistory">
                <div class="boxHistory">
                    <div class="headerHistory">
                        <div class="icon">
                            <img src="/img/LogoDisciplina.svg" alt="">
                        </div>
                        <h3 class="titleHistory">LOGICA DE PROGRAMAÇÃO</h3>
                    </div>
                    <div class="contentProgress"></div>
                </div>
                <div class="boxHistory">
                    <div class="headerHistory">
                        <div class="icon">
                            <img src="/img/LogoDisciplina.svg" alt="">
                        </div>
                        <h3 class="titleHistory">JAVA</h3>
                    </div>
                    <div class="contentProgress"></div>
                </div>
            </div>
        </div>
    </div>

    <footer class="contentFooter">
        <a class="logo" href="/">CarrPlan</a>
    </footer>
    <script src="/js/mobile-navbar.js"></script>
</body>
</html>