<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org/%22%3E"
    lang="pt-br">

    <link rel="stylesheet" href="/homeCss/home_user.Css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/"> Estudo Plataforma</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>     
            </div>
            <ul class="nav-list">
                <li><a href="/home">Inicio</a></li>
                <li><a href="/">Minhas Disciplinas</a></li>
                <li><a href="/disciplina/list">Disciplinas</a></li>
                <li><a href="/login"><i class="fa fa-sign-out IconLogout"></i></a></li>
            </ul>
           
        </nav>
    </header>
    <main></main>
    <script src="/js/mobile-navbar.js"></script>
</body>
</html>