<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org/%22%3E"
    lang="pt-br">

    <link rel="stylesheet" href="/styleGlobal.css">
    <link rel="stylesheet" href="/homeCss/trilhas.Css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trilhas</title>
</head>
<body>
    <div class="globalContainer">
        <div class="containerHome">
            <div class="containerHeader">
                <div class="contentHeader">
                    <a class="BtnIconReturn" href="/home_user"><i class="fa fa-arrow-left IconReturn"></i></a>
                    <h1 class="titleHeader">Trilhas</h1>
                </div>
            </div>
            <div class="containerContent">
            </div>
            <div class="footerCardClassroom">
                <div class="footerCardMoney">
                    <p class="footerCardMoneyLabel">Nivel</p>
                    <p class="footerCardMoneyText" th:text="${trilha.nivel}"></p>
                </div>
                <div class="footerCardMoneyBtn">
                    <a class="btnUpdate" th:href="@{/trilha/update/{id}(id=${trilha.id_trilha})}">Editar</a>
                    <a class="btnDelete" th:href="@{/trilha/delete/{id}(id=${trilha.id_trilha})}">Deletar Trilha</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>